{% extends 'base.html' %}
{% load static %}
{% block title %}Checkout{% endblock %}

{% block main %}

		<main class="main checkout">
			<div class="page-content pt-7 pb-10 mb-10">
				<div class="step-by pr-4 pl-4">
					<h3 class="title title-simple title-step"><a href="{% url 'cart:cart' %}">1. Shopping Cart</a></h3>
					<h3 class="title title-simple title-step active"><a href="{% url 'order:checkout' %}">2. Checkout</a></h3>
					<h3 class="title title-simple title-step"><a href="{% url 'order:order-verify' %}">3. Order Complete</a></h3>
				</div>
				<div id="coupon-msg" class="container mt-7">
					
				</div>
				<div class="container mt-7">
					<div class="card accordion">
						<div class="alert alert-light alert-primary alert-icon mb-4 card-header">
							<i class="fas fa-exclamation-circle"></i>
							<span class="text-body">Have a coupon?</span>
							<a href="#alert-body2" class="text-primary">Click here to enter your code</a>
						</div>
						<div class="alert-body collapsed" id="alert-body2">
							<p>If you have a coupon code, please apply it below.</p>
							<div class="check-coupon-box d-flex">
								<input id='coupon' type="text" name="coupon_code"
									class="input-text form-control text-grey ls-m mr-4 mb-4" id="coupon_code" value=""
									placeholder="Coupon code">
								<button id='applyCoupon' type="submit" class="btn btn-dark btn-rounded btn-outline mb-4">Apply
									Coupon</button>
							</div>
						</div>
					</div>
					<form id="order-form" action="" method='post' class="form">
						{% csrf_token %}
						<div class="row">
							<div class="col-lg-7 mb-6 mb-lg-0 pr-lg-4">
								<h3 class="title title-simple text-left text-uppercase">Billing Details</h3>
								<div class="row">
									<div class="col-xs-6">
										<label>First Name *</label>
										<input id="firstname" type="text" class="form-control" name="first-name" required="" />
									</div>
									<div class="col-xs-6">
										<label>Last Name *</label>
										<input id="lastname" type="text" class="form-control" name="last-name" required="" />
									</div>
								</div>
								<div class="select-box">
									<select id="country" name="country" class="form-control">
										<option value="us" selected>United States (US)</option>
										<option value="uk"> United Kingdom</option>
										<option value="fr">France</option>
										<option value="aus">Austria</option>
									</select>
								</div>
								<div class="row">
									<div class="col-xs-6">
										<label>Town / City *</label>
										<input id="town" type="text" class="form-control" name="city" required="" />
									</div>
									<div class="col-xs-6">
										<label>State *</label>
										<input id="state" type="text" class="form-control" name="state" required="" />
									</div>
								</div>
								<label>Street Address *</label>
								<input id="address" type="text" class="form-control" name="address" required=""
									placeholder="House number and street name" />
								<div class="row">
									<div class="col-xs-6">
										<label>ZIP *</label>
										<input id="zip" type="text" class="form-control" name="zip" required="" />
									</div>
									<div class="col-xs-6">
										<label>Phone *</label>
										<input id="phone" type="text" class="form-control" name="phone" required="" />
									</div>
								</div>
								
								<h2 class="title title-simple text-uppercase text-left">Additional Information</h2>
								<label>Order Notes (Optional)</label>
								<textarea id="order_notes" class="form-control pb-2 pt-2 mb-0" cols="30" rows="5"
									placeholder="Notes about your order, e.g. special notes for delivery"></textarea>
							</div>
							<aside class="col-lg-5 sticky-sidebar-wrapper">
								<div class="sticky-sidebar mt-1" data-sticky-options="{'bottom': 50}">
									<div class="summary pt-5">
										<h3 class="title title-simple text-left text-uppercase">Your Order</h3>
										<table class="order-table">
											<thead>
												<tr>
													<th></th>
													<th></th>
												</tr>
											</thead>
											<tbody>
												<div id='order-product' class="mb-3">
												</div>

												<tr class="summary-subtotal">
													<td>
														<h4 class="summary-subtitle">Subtotal</h4>
													</td>
													<td id='order-subtotal' class="summary-subtotal-price pb-0 pt-0">$290.00
													</td>
												</tr>
												<tr class="summary-subtotal">
													<td>
														<h4 class="summary-subtitle">Shipping</h4>
													</td>
													<td id='shipping' class="summary-subtotal-price pb-0 pt-0">$10.00
													</td>
												</tr>
												
												<tr class="summary-subtotal">
													<td>
														<h4 class="summary-subtitle">Tax</h4>
													</td>
													<td id='tax' class="summary-subtotal-price pb-0 pt-0">$0.00
													</td>
												</tr>
												<tr class="summary-subtotal">
													<td>
														<h4 class="summary-subtitle">Discount</h4>
													</td>
													<td id='discount' class="summary-subtotal-price pb-0 pt-0">$0.00
													</td>
												</tr>
												<tr class="summary-total">
													<td class="pb-0">
														<h4 class="summary-subtitle">Total</h4>
													</td>
													<td class=" pt-0 pb-0">
														<p id='total' class="summary-total-price ls-s text-primary">$290.00</p>
													</td>
												</tr>
											</tbody>
										</table>

										<div class="form-checkbox mt-4 mb-5">
											<input type="checkbox" class="custom-checkbox" id="terms-condition"
												name="terms-condition" />
											<label class="form-control-label" for="terms-condition">
												I have read and agree to the website <a href="#">terms and conditions
												</a>*
											</label>
										</div>
										<button id="place_order" type="submit" class="btn btn-dark btn-rounded btn-order">Place
											Order</button>
									</div>
								</div>
							</aside>
						</div>
					</form>
				</div>
			</div>
			
		</main>
{% endblock %}
{% block script %}
	<script src="{% static 'base/vendor/sticky/sticky.min.js' %}"></script>
	<script src="{% static 'order/checkout.js' %}"></script>
{% endblock %}