{% extends 'base.html' %}
{% block title %} product {% endblock %}
{% block body %}
<div class='mt-5 row'>
    <div class='mt-5 col-12 col-lg-12'>
        <div class='row'>
        {% for obj in object_list %}
        <div class="card m-4 col-3" style="width: 18rem;">
            <img src="{{ obj.get_url_main_image }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">An item</li>
              <li class="list-group-item">A second item</li>
              <li class="list-group-item">A third item</li>
            </ul>
            <div class="card-body">
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
        </div>
        {% empty %}
            {% comment %} <li>No articles yet.</li> {% endcomment %}
        {% endfor %} 
        </div>
    </div>
</div>


{% endblock %}