<!DOCTYPE html>
<html lang="en">
    {% load static %}
    {% load category_tags %}
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    <title>{% block title %}ATIGH{% endblock %}</title>

    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Atigh galery - Stock exchange of buying and selling old and antique items">
    <meta name="author" content="Sajjad">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{% static 'base/images/icons/saraye-atigh-favicon.png' %}">

    <script>
        WebFontConfig = {
            google: { families: [ 'Poppins:400,500,600,700' ] }
        };
        ( function ( d ) {
            var wf = d.createElement( 'script' ), s = d.scripts[ 0 ];
            wf.src = "{% static 'base/js/webfont.js' %} ";
            wf.async = true;
            s.parentNode.insertBefore( wf, s );
        } )( document );
    </script>


    <link rel="stylesheet" type="text/css" href="{% static 'base/vendor/fontawesome-free/css/all.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'base/vendor/animate/animate.min.css' %}">

    <!-- Plugins CSS File -->
    <link rel="stylesheet" type="text/css" href="{% static 'base/vendor/magnific-popup/magnific-popup.min.css' %}">
    <link rel="stylesheet" type="text/css" href="vendor/owl-carousel/owl.carousel.min.css">

    <link rel="stylesheet" type="text/css" href="{% static 'base/vendor/sticky-icon/stickyicon.css' %}">

    {% block head_link %}
    {% endblock %}
    <!-- Main CSS File -->
    {% block head_link_main_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'base/css/style.min.css' %}">
    {% endblock %}

</head>

<body>
    <div class="page-wrapper">

        {% comment %} {% include 'inc/header.html' %} {% endcomment %}
        {% caregory_navbar %}
        <!-- End Header -->

        <main class="main account">
            {% block main %}{% endblock %}
        </main>
        <!-- End Main -->

        {% include 'inc/footer.html' %}
        <!-- End Footer -->
    </div>
    {% block extra %}{% endblock %}

    <!-- Sticky Footer -->
        {% include 'inc/sticky-footer.html' %}

    <!-- Scroll Top -->
    <a id="scroll-top" href="#top" title="Top" role="button" class="scroll-top"><i class="d-icon-arrow-up"></i></a>

    <!-- MobileMenu -->
        {% include 'inc/mobile-menu.html' %}


	<!-- Plugins JS File -->
    <script src="{% static 'base/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'base/vendor/elevatezoom/jquery.elevatezoom.min.js' %}"></script>
    <script src="{% static 'base/vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'base/vendor/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'base/vendor/owl-carousel/owl.carousel.min.js' %}"></script>
    {% block script %}{% endblock %}
    <!-- Main JS File -->
    <script src="{% static 'base/js/main.min.js' %}"></script>
</body>

</html>