<div class="mobile-menu-wrapper">
    <div class="mobile-menu-overlay">
    </div>
    <!-- End Overlay -->
    <a class="mobile-menu-close" href="#"><i class="d-icon-times"></i></a>
    <!-- End CloseButton -->
    <div class="mobile-menu-container scrollable">
        <form action="{% url 'product:search' %}" class="input-wrapper">
            <input type="text" class="form-control" name="search" autocomplete="off"
                placeholder="Search your keyword..." required />
            <button class="btn btn-search" type="submit">
                <i class="d-icon-search"></i>
            </button>
        </form>
        <!-- End Search Form -->
        <ul class="mobile-menu mmenu-anim">
            <li>
                <a href="{% url 'home:home' %}">Home</a>
            </li>
            <li>
                <a href="{% url 'product:shop' %}" class="active">Categories</a>
                <ul>
                    {% for cat in categories %}
                    <li><a href="{{ cat.get_absolute_url }}">{{cat.title}}</a>
                        {% if cat.childrens.all %}
                            {% include 'inc/cat_menu.html' %}
                        {% endif %}
                    </li>
                    {% endfor%}
                </ul>
            </li>
            <li>
                <a href="{% url 'product:shop' %}">Products</a>
            </li>
            <li>
                <a href="blog-classic.html">Blog</a>
            </li>
            <li>
                <a href="{% url 'home:about-us' %}">About Us</a>

            </li>
        </ul>
        <!-- End MobileMenu -->
    </div>
</div>